/*Тут переменные, общие для всего проекта*/

$grid-breakpoint-xs: 0;
$grid-breakpoint-sm: 576px;
$grid-breakpoint-md: 768px;
$grid-breakpoint-lg: 992px;
$grid-breakpoint-xl: 1200px;
$grid-breakpoint-xxl: 1400px;


$font-family-serif: Georgia, 'Times New Roman', serif;
$font-family-sans-serif: Arial, Helvetica, sans-serif;

$color-main: #000;
$container-max-width: 1296px;

/* Оригинальные переменные HOMEPAGE  */
$grey-background: #282828;
$burger-color: #232323;
$text-color: #cdcdcd;
$menu-color: white;
$menu-burger-background: #ededed;
$menu-burger-active-item: tomato;
$color-shadow: gray;
$blue-hover: #0884F8;
$font-size-home: 20px;
$font-size-home-mobile: 22px;
$font-size-footer: 16px;
$font-size-logo: 32px;
$font-size-xxl: 36px;
$font-size-text-about: 26px;

/* А тут какие-то классы и стили для тегов, тоже общие для всего проекта */

* {
    box-sizing: border-box;
}


html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: $font-family-sans-serif;
    color: $color-main;
}

body {
    max-width: 1920px;
    margin: 0 auto;
}


a {
    text-decoration: none;
}


header,
main,
section,
footer {
    max-width: $container-max-width;
    margin: 0 auto;
}

table {
    border-collapse: collapse;

}

td,
th {
    border: 1px solid black;
    padding: 5px;
}

h3 {
    font-size: $font-size-logo;
    color: $menu-color;
    text-align: center;
}

h4 {
    font-size: $font-size-text-about;
}