.header {

    // .header__container

    &__container {
        background-color: $grey-background;
        color: $menu-color;
        display: grid;
        grid-template-columns: 7fr 1fr;
        grid-template-rows: 105px 3em;

        @media screen and (max-width: $grid-breakpoint-md) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 100px 3em;
        }

        &_items {
            grid-column: 1;
            grid-row: 1;
        }


        // .header__container_items


        // .header__container_img

        &_img {
            grid-column: 1;
            grid-row: 1;
            justify-self: center;
            margin-left: 17em;

            @media screen and (max-width: $grid-breakpoint-md) {
                grid-row: 1;
                grid-column: 1/3;
                margin: 0;

            }


        }

        // .header__container_phone

        &_phone {
            grid-column: 2;
            grid-row: 1;
            justify-self: end;
            padding: 1.5em;
            font-size: $font-size-home;
            color: $menu-color ;

            @media screen and (max-width: $grid-breakpoint-md) {

                grid-row: 2;
                padding: 0;
                margin-right: 1rem;


            }

        }

        // .header__container_menu

        &_menu {
            grid-row: 2;
            grid-column: 1/3;



            // .menu__hamnav

            &__hamnav {
                width: 100%;
                background: $main-background;
                grid-row: 2;
                grid-column: 1/3;



            }

            // .menu__hamitems

            &__hamitems {
                display: flex;
            }

            &__hamitems a {
                flex-grow: 1;
                flex-basis: 0;
                padding: 10px;
                color: white;
                text-decoration: none;
                text-align: center;
            }
        }





        &_menu {

            @media screen and (max-width: $grid-breakpoint-md) {
                grid-row: 2;


            }

            // [ON BIG SCREENS]
            // (A) WRAPPER
            #hamnav {
                width: 100%;
                /* Optional */
                position: sticky;
                top: 0;



            }

            // (B) HORIZONTAL MENU ITEMS
            #hamitems {
                display: flex;
            }

            #hamitems a {
                flex-grow: 1;
                flex-basis: 0;
                padding: 10px;
                color: white;
                text-decoration: none;
                text-align: center;
            }

            #hamitems a:hover {
                background: #1AA0FF;
                border-radius: 10px;
            }

            // (C) HIDE HAMBURGER
            #hamnav label,
            #hamburger {
                display: none;
            }

            // [ON SMALL SCREENS]
            @media screen and (max-width: 768px) {

                // (A) BREAK INTO VERTICAL MENU 
                #hamitems a {
                    box-sizing: border-box;
                    display: block;
                    width: 100%;
                    border-top: 1px solid #333;
                    background-color: $grey-background;

                }

                // (B) SHOW HAMBURGER ICON
                #hamnav label {
                    display: inline-block;
                    color: white;
                    background: #1AA0FF;
                    font-style: normal;
                    font-size: 1.2em;
                    padding: 10px;
                    border-radius: 10px;
                    margin-left: 1rem;


                }

                // (C) TOGGLE SHOW/HIDE MENU
                #hamitems {
                    display: none;
                }

                #hamnav input:checked~#hamitems {
                    display: block;
                }
            }
        }
    }
}









.start {

    // .start__text

    &__text {
        color: white;
        font-size: $font-size-home;
        text-align: center;
        margin: 2em;

        @media screen and (max-width: $grid-breakpoint-sm) {
            margin: 1em;
        }
    }

    // .start__img

    &__img {
        height: auto;
        max-width: 100%;
        object-fit: contain;
    }

    // .start__advantages

    &__advantages {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 4em 1fr 1fr;
        margin-left: 1em;
        margin-right: 1em;
        gap: 3em;
        text-align: center;
        justify-items: center;


        @media screen and (max-width: $grid-breakpoint-md) {
            grid-template-columns: 1fr;
            grid-template-rows: 2em repeat(4 1fr);
            margin: 0;


        }
    }
}

.advantages {

    // .advantages__heading

    &__heading {
        grid-column: 1/3;
        grid-row: 1;
        color: white;
        text-align: center;
    }

    // .advantages__details


    // .advantages__details_fixprice

    &__fixprice {
        height: 25em;
        width: 30em;
        padding: 1em;
        background-color: white;
        color: black;
        grid-column: 1;
        grid-row: 2;
        border-radius: 20px;
        max-width: fit-content;


        @media screen and (max-width: $grid-breakpoint-md) {
            grid-column: 1/3;
            margin: auto;
        }

        @media screen and (max-width: $grid-breakpoint-sm) {
            grid-column: 1/3;
            margin: auto;
            width: 20em; //
            height: 32em; //



        }
    }

    // .advantages__details_highlevel

    &__highlevel {
        height: 25em;
        width: 30em;
        padding: 1em;
        background-color: white;
        color: black;
        grid-column: 1;
        grid-row: 3;
        border-radius: 20px;
        max-width: fit-content;



        @media screen and (max-width: $grid-breakpoint-md) {
            grid-column: 1/3;
            margin: auto;
        }

        @media screen and (max-width: $grid-breakpoint-sm) {
            grid-column: 1/3;
            width: 20em; //
            height: 32em; //
        }
    }

    // .advantages__details_speed

    &__speed {
        height: 25em;
        width: 30em;
        padding: 1em;
        background-color: white;
        color: black;
        grid-column: 2;
        grid-row: 2;
        border-radius: 20px;
        max-width: fit-content;



        @media screen and (max-width: $grid-breakpoint-md) {
            grid-column: 1/3;
            grid-row: 4;
            margin: auto;

        }

        @media screen and (max-width: $grid-breakpoint-sm) {
            grid-column: 1/3;
            grid-row: 4;
            width: 20em; //
            height: 35em; //
        }
    }

    // .advantages__details_geography

    &__geography {
        height: 25em;
        width: 30em;
        padding: 1em;
        background-color: white;
        color: black;
        grid-column: 2;
        grid-row: 3;
        border-radius: 20px;
        max-width: fit-content;


        @media screen and (max-width: $grid-breakpoint-md) {
            grid-column: 1/3;
            grid-row: 5;
            margin: auto;

        }

        @media screen and (max-width: $grid-breakpoint-sm) {
            grid-column: 1/3;
            grid-row: 5;
            width: 20em; //
            height: 27em; //
        }
    }
}





.footer {

    // .footer__container

    &__container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 1em;
        margin-top: 2em;
        padding-top: 1em;
        background-color: $grey-background;


        // .footer__container_socials

        &_socials {
            grid-column: 1;
            grid-row: 1;
            text-align: center;
        }

        // .footer__container_icon

        &_icon {
            width: 45px;
            height: 45px;

        }

        // .footer__container_copyright

        &_copyright {
            grid-column: 1;
            grid-row: 2;
            color: white;
            text-align: center;
        }
    }
}