/* здесь надо писать стили для файла moving-form.html */


$color: white;
$color1: rgb(127, 124, 124);
$container-width: 100wv;
$container-height: 100hv;
$main-color: #000;
$font-size-home: 20px;
$font-size-text-about: 26px;
$font-size-logo: 32px;


.movingform {
    /*Общий контейнер странички*/
    box-sizing: border-box;
    width: $container-width;
    height: $container-height;
    background: $main-color ;
    color: $color;
    text-align: center;
    font-family: $font-family-sans-serif ;
}


.info {
    /*Информация адрес и часы работы*/

    box-sizing: border-box;
    font-size: $font-size-text-about;
    line-height: 3rem;

    @media screen and (max-width: $grid-breakpoint-sm) {

        font-size: $font-size-home
    }

    &_header {
        grid-row: 1/2;

    }

    &_address {
        grid-row: 2/3;
        font-size: $font-size-text-about
    }

    &_address1 {
        grid-row: 3/4;
        font-size: $font-size-home
    }

    &_email1 {

        grid-row: 4/5;
        font-size: $font-size-home
    }

    &_address2 {
        grid-row: 5/6;
        font-size: $font-size-home
    }

    &_email2 {
        grid-row: 6/7;
        font-size: $font-size-home
    }

    &_time {
        grid-row: 7/8;
        font-size: $font-size-text-about;
        align-self: end;

    }

    &_mon {
        grid-row: 8/9;
        font-size: $font-size-home
    }

    &_tue {
        grid-row: 9/10;
        font-size: $font-size-home
    }

    &_wed {
        grid-row: 10/11;
        font-size: $font-size-home
    }

    &_thu {
        grid-row: 11/12;
        font-size: $font-size-home
    }

    &_fri {
        grid-row: 12/13;
        font-size: $font-size-home
    }

    &_sat {
        grid-row: 13/14;
        font-size: $font-size-home
    }

    &_sun {
        grid-row: 14/15;
        font-size: $font-size-home
    }

    &_text {
        grid-row: 15/16;
        font-size: $font-size-home
    }
}


.contactform {
    /*Форма для контакта*/

    display: grid;
    box-sizing: border-box;
    width: 50%;
    height: 90%;
    margin-left: 25%;
    font-size: $font-size-text-about;
    justify-self: center;
    gap: .4em;

    @media screen and (max-width: $grid-breakpoint-xl) {
        width: 80%;
        margin-left: 10%;
        height: 50%;
    }

    @media screen and (max-width: $grid-breakpoint-sm) {
        width: 80%;
        font-size: $font-size-home;
        gap: 0.6em;
    }

    &__name,
    &__phone,
    &__email,
    &__message {
        border: 1px solid $color;
        border-radius: 8px;
        color: $color;
        background: $main-color;
        border: 1px solid $color;

        @media screen and (max-width: $grid-breakpoint-xl) {
            height: 2em;
        }

        @media screen and (max-width: $grid-breakpoint-sm) {
            padding-top: 5%;
        }
    }

    /* Цвет в placeholder Chrome, Firefox, Opera, Safari 10.1+ */
    ::placeholder {
        color: $color1;
        opacity: 1;
        font-style: italic;
    }

    /*Цвет в placeholder Internet Explorer 10-11 */
    :-ms-input-placeholder {
        color: $color1;
        font-style: italic;
    }

    /*Цвет в placeholder Microsoft Edge */
    ::-ms-input-placeholder {
        color: $color1;
        font-style: italic;
    }

    &__btn_send {
        width: 40%;
        height: 2em;
        margin-left: 30%;
        color: $color;
        background: $main-color;
        border-radius: 8px;
        border: 1px solid $color;
        cursor: pointer;
    }
}