.prices {
    background: white;

    text-align: center;
    margin: 0 auto;


    // .prices__local

    &__local {
        max-width: 60%;
        margin: 0 auto;


        // .prices__local_img

        &_img {
            width: 60px;
            height: 60px;
        }

        // .prices__local_text

        &_text {}

        // .prices__local_money

        &_money {}

        // .prices__local_extra

        &_extra {}
    }

    // .prices__long

    &__long {
        max-width: 60%;
        margin: 0 auto;


        // .prices__long_img

        &_img {
            width: 80px;
            height: 60px;
        }

        // .prices__long_text

        &_text {}

        // .prices__long_money

        &_money {}
    }
}