/* здесь надо писать стили для файла moving-form.html */

$grid-breakpoint-sm: 576px;
$font-family-serif: Georgia, 'Times New Roman', serif;
$font-family-sans-serif: Arial, Helvetica, sans-serif;


$color: white;
$color1:rgb(60, 58, 58);
$container-width:100wv;
$container-height:80hv;
$main-color: #000;
$font-size: .7em;
$font-size1: 1.5em;
$font-size3: 3em;
$font-size2: 2em;



.movingform{
     /*Общий контейнер странички*/
    box-sizing: border-box;
    width: $container-width;
    height: $container-height;
    background:$main-color ;
    color:$color;
    text-align: center;
    font-family:$font-family-serif ;
}
            
    
    .info{
    /*Информация адрес и часы работы*/
    display:grid;
    grid-template-rows: 2fr repeat(14, 1fr);
    box-sizing: border-box;
    
    @media screen and (max-width: $grid-breakpoint-sm){
        display:grid;
        grid-template-rows: 1fr repeat(14, 0.5fr);
        font-size: $font-size
    }
        
    &_header{
        grid-row: 1/2 ;   
        font-size: $font-size3
    }
    
    &_address{
        grid-row: 2/3 ; 
        font-size:$font-size2

    }
    &_address1{
        grid-row: 3/4 ;
        font-size: $font-size1;
    
    }
    
    &_email1{
    
        grid-row: 4/5;
        font-size: $font-size1;
    }
    &_address2{
        grid-row: 5/6;
        font-size: $font-size1;
    }
    
    &_email2{
        grid-row: 6/7;
        font-size: $font-size1;
    
    }
    &_time{
        grid-row: 7/8 ; 
        font-size: $font-size2
    }
    &_mon{
        grid-row: 8/9 ;
        font-size: $font-size1;
    
    }
    &_tue{
        grid-row: 9/10 ;
        font-size: $font-size1;
    }
    &_wed{
        grid-row: 10/11 ;
        font-size: $font-size1;
    }
    &_thu{
        grid-row: 11/12 ;
        font-size: $font-size1;
    }
    &_fri{
        grid-row: 12/13;
        font-size: $font-size1;
    }
    &_sat{
        grid-row: 13/14;
        font-size: $font-size1;
    }
    &_sun{
        grid-row: 14/15 ;
        font-size: $font-size1;
    
    }
    &_text{
        grid-row: 15/16 ;
        font-size: $font-size1;
        
        } 
    }

    .contactform{
   /*Форма для контакта*/

        display: grid;
        box-sizing: border-box;
        width:50%;
        height:60vh;
        margin-left: 25%;       
        font-size: $font-size2;
        border:1px red solid;
        justify-self: center;
        align-content: space-around;

        @media screen and (max-width: $grid-breakpoint-sm){
         
        width:100%;
        font-size: $font-size1;     
        margin-left:0;


        }
           
    &__name, &__phone, &__email, &__massage {
        border: 1px solid $color;
        border-radius: 8px;
        color: $color;
        background: $color1;
        border: 1px solid $color;
       
    }
    /* Цвет в placeholder Chrome, Firefox, Opera, Safari 10.1+ */
::placeholder {
    color:$color;
    opacity: 1;
  }
   
  /*Цвет в placeholder Internet Explorer 10-11 */
  :-ms-input-placeholder {
    color:$color;
  }
   
  /*Цвет в placeholder Microsoft Edge */
  ::-ms-input-placeholder {
    color:$color;
  }
    &__btn_send{
        width:40%;
        height: 2em;
        margin-left: 30%;

        color:$color;
        background: $color1;
        border-radius: 8px; 
        border: 1px solid $color;
        
    &__btn_send:hover {
            cursor: pointer;
            
      }
      
    
        }

    }