/* здесь надо писать стили для файла moving-form.html */

$font-family-serif: Georgia, 'Times New Roman', serif;
$font-family-sans-serif: Arial, Helvetica, sans-serif;


$color: white;
$container-width:100wv;
$container-height:80hv;
$main-color: #000;
$font-size: 1.5em;
$font-size1: 3em;
$font-size2: 2em;



.movingform{
     /*Общий контейнер странички*/
    box-sizing: border-box;
    width: $container-width;
    height: $container-height;
    background:$main-color ;
    color:$color;
    text-align: center;
    font-family:$font-family-serif ;
}
            
    
    .info{
    /*Информация адрес и часы работы*/
    display:grid;
    grid-template-rows: 2fr repeat(14, 1fr);
    border:1px red solid;


    
    &_header{
        grid-row: 1/2 ;   
        font-size: $font-size1
    }
    
    &_address{
        grid-row: 2/3 ; 
        font-size:$font-size2

    }
    &_address1{
        grid-row: 3/4 ;
        font-size: $font-size;
    
    }
    
    &_email1{
    
        grid-row: 4/5;
        font-size: $font-size;
    }
    &_address2{
        grid-row: 5/6;
        font-size: $font-size;
    }
    
    &_email2{
        grid-row: 6/7;
        font-size: $font-size;
    
    }
    &_time{
        grid-row: 7/8 ; 
        font-size: $font-size2
    }
    &_mon{
        grid-row: 8/9 ;
        font-size: $font-size;
    
    }
    &_tue{
        grid-row: 9/10 ;
        font-size: $font-size;
    }
    &_wed{
        grid-row: 10/11 ;
        font-size: $font-size;
    }
    &_thu{
        grid-row: 11/12 ;
        font-size: $font-size;
    }
    &_fri{
        grid-row: 12/13;
        font-size: $font-size;
    }
    &_sat{
        grid-row: 13/14;
        font-size: $font-size;
    }
    &_sun{
        grid-row: 14/15 ;
        font-size: $font-size;
    
    }
    &_text{
        grid-row: 15/16 ;
        font-size: $font-size;
        
        } 
    }

    /*Форма для контакта*/
    .contactform{
        display:grid;
        grid-template-rows: repeat(6, 1fr) 2fr;
        grid-template-columns: 8fr;
        width:50%;
        height:60vh;
        margin-left: 25%;
        color: $color;
        font-size: $font-size2;
        border:1px red solid;
        

   
    

    &_text2{
        grid-row: 1/3 ;
       
                 
    }
    &_name{
        grid-row: 3/4 ;
       
            
    }
    &_phone{
    grid-row: 4/5 ;
   
    }
    &_email{
        grid-row: 5/6 ;
       
       
    
    }
    &_massage{
        grid-row: 6/7 ;  
        
        
        
    }
    &_btn_send{
        grid-row: 7/8;
        
            }
    .btn_send{
        width:40%;
        height: 2em;
        color: $color;
        background: grey;
        border-radius: 8px; 
        
        .btn_send:hover {
            cursor: pointer;
      }
      
    
        }

    }