*:before,
*:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    background-color: $color-main;
}

.container {

    // .container__home
    &__home {
        display: grid;
        position: relative;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        background-color: $color-main;
        margin: 0;

        @media screen and (max-width: $grid-breakpoint-md) {
            display: grid;
            position: relative;
            grid-template-rows: 1fr;
            grid-template-columns: 1fr;
            background-color: $color-main;
            margin: 0;
        }
    }

    // .container__menu
    &__menu {
        display: grid;
        position: relative;
        grid-template-rows: 8rem 4rem;
        grid-template-columns: 1fr;
        background-color: $color-main;
        font-family: $font-family-sans-serif;
        color: $menu-color;
        margin: 0;

        @media screen and (max-width: $grid-breakpoint-md) {
            display: grid;
            position: relative;
            grid-template-rows: 8rem 8rem 8rem;
            grid-template-columns: 1fr;
            background-color: $color-main;
            font-family: $font-family-sans-serif;
            color: $menu-color;
            margin: 0;
        }
        @media screen and (max-width: $grid-breakpoint-sm) {
            display: grid;
            position: relative;
            grid-template-rows: 8rem 8rem 8rem;
            grid-template-columns: 1fr;
            background-color: $color-main;
            font-family: $font-family-sans-serif;
            color: $menu-color;
            margin: 0;
        }

    }

    // .container__logo
    &__logo {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 25% 1fr 25%;
        background-color: $color-main;

        @media screen and (max-width: $grid-breakpoint-md) {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 8rem 6rem 8rem;
            background-color: $color-main;
            margin-top: 1rem;
        }

        @media screen and (max-width: $grid-breakpoint-sm) {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 8rem 6rem 8rem;
            background-color: $color-main;
            margin-top: 1rem;
        }

    }

    // .container__nav
    &__nav {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;

        @media screen and (max-width: $grid-breakpoint-md) {
            display: none;
        }

        @media screen and (max-width: $grid-breakpoint-sm) {
            display: none;
        }
    }

    // .container__about
    &__about {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;

        @media screen and (max-width: $grid-breakpoint-md) {
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 1fr;
        }

        @media screen and (max-width: $grid-breakpoint-sm) {
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 1fr;
        }
    }

    //.container__name
    &__name {
        display: grid;
    }
}

.logo {

    // .logo__img
    &__img {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        justify-items: center;
        align-items: center;

        @media screen and (max-width: $grid-breakpoint-md) {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            justify-items: center;
            align-items: center;
        }
    }

    //.logo__name_mobile
    &__name_mobile {
        display: none;

        @media screen and (max-width: $grid-breakpoint-sm) {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4, 1fr);
            text-align: center;
            align-items:center;
            font-family: $font-family-sans-serif;
            font-size: $font-size-logo;
            font-weight: 500;
        }

        @media screen and (max-width: $grid-breakpoint-md) {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4, 1fr);
            text-align: center;
            align-items:center;
            font-family: $font-family-sans-serif;
            font-size: $font-size-logo;
            font-weight: 500;
        }
    }
    
    //.logo__name
    &__name {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        text-align: center;
        align-items:center;
        font-family: $font-family-sans-serif;
        font-size: $font-size-logo;
        font-weight: 500;

            @media screen and (max-width: $grid-breakpoint-xxl) {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: repeat(4, 1fr);
                text-align: center;
                align-items:center;
                font-family: $font-family-sans-serif;
                font-size: $font-size-xxl;
                font-weight: 500;
            }

            @media screen and (max-width: $grid-breakpoint-sm) {
                display: none;
            }

            @media screen and (max-width: $grid-breakpoint-md) {
                display: none;
            }    
    }

    &__tel {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: end;
        font-size: $font-size-home;
        padding-right: 3em;

        @media screen and (max-width: $grid-breakpoint-md) {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            justify-items: center;
            font-size: $font-size-home;
        }

        @media screen and (max-width: $grid-breakpoint-sm) {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            justify-items: right;
            font-size: $font-size-home;
            padding-right: 0;
            font-size: $font-size-home-mobile;
            margin-top: 1rem;
        }
    }
}

#first_tel {
    align-self: end;
}

.logo__name::before {
    content: "";
    position: relative;
    width: 50%;
    height: 2px;
    background-color: white;    
    justify-self: center;

    @media screen and (max-width: $grid-breakpoint-xl) {
        content: "";
        position: relative;
        width: 60%;
        height: 2px;
        background-color: white;    
        justify-self: center;    
    }

    @media screen and (max-width: $grid-breakpoint-lg) {
        content: "";
        position: relative;
        width: 65%;
        height: 2px;
        background-color: white;    
        justify-self: center;    
    }

    @media screen and (max-width: $grid-breakpoint-md) {
        content: "";
        position: relative;
        width: 60%;
        height: 2px;
        background-color: white;    
        justify-self: center;    
    }
}

.logo__name::after {
    content: "";
    position: relative;
    width: 50%;
    height: 2px;
    background-color: white;    
    justify-self: center;    

    @media screen and (max-width: $grid-breakpoint-xl) {
        content: "";
        position: relative;
        width: 60%;
        height: 2px;
        background-color: white;    
        justify-self: center;    
    }

    @media screen and (max-width: $grid-breakpoint-lg) {
        content: "";
        position: relative;
        width: 65%;
        height: 2px;
        background-color: white;    
        justify-self: center;    
    }

}

.logo__name_mobile::before {
    content: "";
    position: relative;
    width: 40%;
    height: 2px;
    background-color: white;    
    justify-self: center;
}

.logo__name_mobile::after {
    content: "";
    position: relative;
    width: 40%;
    height: 2px;
    background-color: white;    
    justify-self: center;    
}

.tel {
    width: 25px;
}

.img_responsive {
    width: 50%;

    @media screen and (max-width: $grid-breakpoint-md) {
        width: 25%;
    }

    @media screen and (max-width: $grid-breakpoint-sm) {
        width: 40%;
    }
}

.nav {

    // .nav__list
    &__list {
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;

        @media screen and (max-width: $grid-breakpoint-md) {
            display: flex;
            flex-direction: column;
            justify-items: flex-start;
            align-items: flex-start;
        }
    }

    // .nav__item
    &__item {
        font-size: $font-size-home;
        color: $menu-color;
        text-decoration: none;

        @media screen and (max-width: $grid-breakpoint-md) {
            font-size: $font-size-home;
        }

        @media screen and (max-width: $grid-breakpoint-xxl) {
            font-size: $font-size-text-about;
        }
    }

    &__item:hover {
        color: $text-color;
        background-color: $grey-background;
        border-radius: 10%;
    }
}

.about {

    // .about__content
    &__content {
        display: grid;
    }

    // .about__text
    &__text {
        display: grid;
        margin-left: 2rem;
        margin-right: 2rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        color: $text-color;
        text-align: center;
        align-items: center;
        line-height: 30px;
        font-size: $font-size-home;

        @media screen and (max-width: $grid-breakpoint-md) {
            display: grid;
            color: $text-color;
            text-align: center;
            align-items: center;
            line-height: 30px;
            margin-left: 2rem;
            margin-right: 2rem;
            font-size: $font-size-home-mobile;
            margin-bottom: 0;
            margin-top: 0;
        }

        @media screen and (max-width: $grid-breakpoint-sm) {
            display: grid;
            color: $text-color;
            text-align: center;
            align-items: center;
            line-height: 26px;
            margin-left: 0;
            margin-right: 0;
            font-size: $font-size-footer;
            margin-bottom: 0;
            margin-top: 0;
        }

        @media screen and (max-width: $grid-breakpoint-xxl) {
            display: grid;
            color: $text-color;
            text-align: center;
            align-items: center;
            line-height: 34px;
            margin-left: 2rem;
            margin-right: 2rem;
            font-size: $font-size-text-about;
            margin-bottom: 0;
        }
    }

    // .about__img
    &__img {
        width: 100%;
        overflow: hidden;
        margin: 3rem 0 1rem 0;

        @media screen and (max-width: $grid-breakpoint-md) {
            margin: 2rem 0 0 0;
        }

        @media screen and (max-width: $grid-breakpoint-sm) {
            margin: 2rem 0 0 0;
        }
    }
}

// new version start
.about {
    // .about__details
    &__details {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 4rem 1fr 1fr;
        margin-left: 2rem;
        margin-right: 2rem;

        @media screen and (max-width: $grid-breakpoint-md) {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 6rem 1fr 1fr;    
            margin-left: 0;
            margin-right: 0;
            margin-top: 1rem;
        }

        @media screen and (max-width: $grid-breakpoint-sm) {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 6rem 1fr 1fr;    
            margin-left: 0;
            margin-right: 0;
            margin-top: 1rem;
        }
    }

    //.about__blocks_top
    &__blocks_top {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        margin-top: 3rem;
        margin-bottom: 3rem;
        margin-left: 0;
        margin-right: 0;

        @media screen and (max-width: $grid-breakpoint-md) {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            margin-top: 0;
            margin-bottom: 2rem;
            margin-left: 0;
            margin-right: 0;
        }
        @media screen and (max-width: $grid-breakpoint-sm) {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            margin-top: 0;
            margin-bottom: 2rem;
            margin-left: 0;
            margin-right: 0;
        }

    }

    //.about__blocks_bottom
    &__blocks_bottom {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        margin: 0;

        @media screen and (max-width: $grid-breakpoint-md) {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            margin-top: 0;
            margin-bottom: 2rem;
            margin-left: 0;
            margin-right: 0;
            }

        @media screen and (max-width: $grid-breakpoint-sm) {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            margin-top: 0;
            margin-bottom: 2rem;
            margin-left: 0;
            margin-right: 0;
            }

        }

    &__block_item:first-child {
        margin-left: 0;
        margin-right: 1rem;

        @media screen and (max-width: $grid-breakpoint-md) {
            margin-right: 0;
            margin-left: 0;
            margin-bottom: 1rem;
        }

        @media screen and (max-width: $grid-breakpoint-sm) {
            margin-right: 0;
            margin-left: 0;
            margin-bottom: 1rem;
        }
    }

    &__block_item:last-child {
        margin-left: 1rem;
        margin-right: 0;

        @media screen and (max-width: $grid-breakpoint-md) {
            margin-left: 0;
            margin-right: 0;
            margin-top: 1rem;
        }

        @media screen and (max-width: $grid-breakpoint-sm) {
            margin-left: 0;
            margin-right: 0;
            margin-top: 1rem;
        }
    }

    //.about__block_item
    &__block_item {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3rem 3rem 1fr;
        background-color: $menu-color;
        border-radius: 10%;
        padding: 2.5rem;
        justify-items: center;
        text-align: center;
    }

    //.about__heading
    &__heading {
        text-align: center;
        color: $menu-color;
        font-size: $font-size-logo;

        @media screen and (max-width: $grid-breakpoint-md) {
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

        @media screen and (max-width: $grid-breakpoint-sm) {
            font-size: $font-size-home;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
    }
}
// new version end


.footer {
    display: grid;
    position: relative;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    color: $menu-color;
    font-size: $font-size-footer;
    margin-top: 2rem;

    // .footer__find
    &__find {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        color: $grey-background;
        background-color: $menu-burger-background;
    }

    &__header {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
        height: 2rem;
        font-size: $font-size-home;
    }

    // .footer__social
    &__social {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 3rem;
        padding-bottom: 1rem;
    }

    &__social a:first-child {
        margin-right: 1em;
    }

    &__social a:nth-child(3) {
        margin-right: 1em;
    }

    &__social a:nth-child(2) {
        margin-right: 1em;
    }

    &__social a:last-child {
        margin-left: 1em;
    }

    // .footer__copyright
    &__copyright {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 5rem;
        margin-left: 1rem;
        margin-right: 1rem;

        @media screen and (max-width: $grid-breakpoint-md) {
            margin-left: 0;
            margin-right: 0;    
        }

        @media screen and (max-width: $grid-breakpoint-sm) {
            padding-left: 1rem;
            padding-right: 1rem;    
        }
    }
}

.social_icon {
    width: 40px;
}


//// MENU BURGER start ////
.burger__menu {
    display: none;

    @media screen and (max-width: $grid-breakpoint-md) {
        display: block;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
    }

    @media screen and (max-width: $grid-breakpoint-sm) {
        display: block;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
    }
}

#menuToggle {
    display: block;
    position: relative;
    top: 11rem;
    left: 30px;
    z-index: 1;
    user-select: none;
}

#menuToggle a {
    text-decoration: none;
    color: $burger-color;
    transition: color 0.3s ease;
}

#menuToggle a:hover {
    color: $menu-burger-active-item;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: $burger-color;
}

#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

#menu {
    position: relative;
    width: 300px;
    margin: -60px 0 0 -50px;
    padding-left: 50px;
    padding-bottom: 30px;
    padding-top: 100px;
    background: $menu-burger-background;
    list-style-type: none;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
    padding: 10px 0;
    font-size: $font-size-home-mobile;
}

#menuToggle input:checked~ul {
    transform: none;
}
//// MENU BURGER end ////