.price{
    // .about__name 
    &__about {
        display: grid;
        grid-template-rows: 8em 1fr 8em;
        grid-template-columns: 1fr;
        max-width: inherit;
        position: relative;
        justify-self: center;

        @media screen and (max-width: $grid-breakpoint-md) {
            display: grid;
            grid-template-rows: ;
            grid-template-columns: ; 
            max-width: ;
            position: ;    
        }

        &.__name {
            display: grid;
            grid-row: 1/2;
            grid-auto-columns: 2/3;
        }

        
    }
}

    // .about__info
    &__text {
        display: grid;
        margin:auto;
        color: $text-color;
        text-align: center;
        align-items: center;
        font-size: $font-size-home;
    }