/*Это итоговый файл со стилями, тут никакой код не пишем!!! только подключения других файлов*/

@import "__common-variable.scss";
@import "_moving-form.scss";
@import "_moving-services.scss";
@import "_moving-home_2.scss";
@import "_moving-gallery.scss";
@import "_moving-prices.scss";
//@import "_moving-home.scss";
//@import "_moving-home.scss";