@charset "UTF-8";
/*Это итоговый файл со стилями, тут никакой код не пишем!!! только подключения других файлов*/ /*Тут переменные, общие для всего проекта*/
/* Оригинальные переменные HOMEPAGE  */
/* А тут какие-то классы и стили для тегов, тоже общие для всего проекта */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
}

body {
  max-width: 1920px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

header,
main,
section,
footer {
  max-width: 1296px;
  margin: 0 auto;
}

table {
  border-collapse: collapse;
}

td,
th {
  border: 1px solid black;
  padding: 5px;
}

h3 {
  font-size: 32px;
  color: white;
  text-align: center;
}

h4 {
  font-size: 26px;
}

/* здесь надо писать стили для файла moving-form.html */
.info {
  /*Информация адрес и часы работы*/
  box-sizing: border-box;
  width: 100wv;
  background: #000;
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 3rem;
}
.info_address, .info_time {
  font-size: 26px;
}

.contactform {
  /*Форма для контакта*/
  display: grid;
  box-sizing: border-box;
  width: 50%;
  height: 90%;
  margin-left: 25%;
  font-size: 26px;
  justify-self: center;
  gap: 0.4em;
  /* Цвет в placeholder Chrome, Firefox, Opera, Safari 10.1+ */
  /*Цвет в placeholder Internet Explorer 10-11 */
  /*Цвет в placeholder Microsoft Edge */
}
@media screen and (max-width: 1200px) {
  .contactform {
    width: 80%;
    margin-left: 10%;
    height: 60%;
  }
}
@media screen and (max-width: 576px) {
  .contactform {
    width: 80%;
    font-size: 20px;
    gap: 0.6em;
  }
}
.contactform__name, .contactform__phone, .contactform__email, .contactform__message {
  border: 1px solid white;
  border-radius: 8px;
  color: white;
  background: #000;
  border: 1px solid white;
}
@media screen and (max-width: 1200px) {
  .contactform__name, .contactform__phone, .contactform__email, .contactform__message {
    height: 2em;
  }
}
@media screen and (max-width: 576px) {
  .contactform__name, .contactform__phone, .contactform__email, .contactform__message {
    padding-top: 5%;
  }
}
.contactform ::-moz-placeholder {
  color: rgb(127, 124, 124);
  opacity: 1;
  font-style: italic;
}
.contactform :-ms-input-placeholder {
  color: rgb(127, 124, 124);
  opacity: 1;
  font-style: italic;
}
.contactform ::placeholder {
  color: rgb(127, 124, 124);
  opacity: 1;
  font-style: italic;
}
.contactform :-ms-input-placeholder {
  color: rgb(127, 124, 124);
  font-style: italic;
}
.contactform ::-ms-input-placeholder {
  color: rgb(127, 124, 124);
  font-style: italic;
}
.contactform__btn_send {
  width: 40%;
  height: 2em;
  margin-left: 30%;
  color: white;
  background: #000;
  border-radius: 8px;
  border: 1px solid white;
  cursor: pointer;
}

*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  background-color: #000;
}

body {
  max-width: 1296px;
}

.container__home {
  display: grid;
  position: relative;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  background-color: #000;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .container__home {
    margin: 2rem 0 0 0;
  }
}
@media screen and (max-width: 576px) {
  .container__home {
    background-color: #000;
    margin: 2rem 0 0 0;
  }
}
.container__menu {
  display: grid;
  position: relative;
  grid-template-rows: 8rem 4rem;
  grid-template-columns: 1fr;
  background-color: #000;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .container__menu {
    grid-template-rows: 8rem 8rem;
    grid-template-columns: 1fr;
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 0;
  }
}
@media screen and (max-width: 576px) {
  .container__menu {
    grid-template-rows: 8rem 8rem;
    grid-template-columns: 1fr;
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 0;
  }
}
.container__logo {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 25% 1fr 25%;
  background-color: #000;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .container__logo {
    grid-template-rows: 8rem 8rem;
    grid-template-columns: 12rem 1fr;
    margin-top: 1rem;
  }
}
@media screen and (max-width: 576px) {
  .container__logo {
    grid-template-rows: 8rem 8rem;
    grid-template-columns: 8rem 1fr;
    margin-top: 1rem;
  }
}
.container__nav {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
@media screen and (max-width: 768px) {
  .container__nav {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .container__nav {
    display: none;
  }
}
.container__about {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}
@media screen and (max-width: 768px) {
  .container__about {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 576px) {
  .container__about {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
  }
}
.container__name {
  display: grid;
}

.logo__img {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  max-height: 130px;
}
@media screen and (max-width: 768px) {
  .logo__img {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: end;
    align-items: center;
    padding-left: 1rem;
  }
}
@media screen and (max-width: 576px) {
  .logo__img {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    padding-left: 1rem;
  }
}
.logo__name_mobile {
  display: none;
}
@media screen and (max-width: 576px) {
  .logo__name_mobile {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    text-align: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: 500;
  }
}
@media screen and (max-width: 768px) {
  .logo__name_mobile {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    text-align: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: 500;
  }
}
.logo__name {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  text-align: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: 500;
  margin-top: 1rem;
}
@media screen and (max-width: 1400px) {
  .logo__name {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    text-align: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: 500;
  }
}
@media screen and (max-width: 576px) {
  .logo__name {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .logo__name {
    display: none;
  }
}
.logo__tel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-items: end;
  font-size: 20px;
  padding-right: 2rem;
  margin-top: 3rem;
}
@media screen and (max-width: 768px) {
  .logo__tel {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: end;
    font-size: 22px;
    margin-top: 3rem;
    padding: 0;
    margin-left: 24rem;
    align-self: center;
  }
}
@media screen and (max-width: 576px) {
  .logo__tel {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: right;
    padding-right: 15px;
    font-size: 22px;
    margin-top: 2rem;
    margin-left: 10rem;
    padding: 0;
    align-self: center;
  }
}

.numbers,
a {
  color: white;
}

.numbers,
a :hover {
  color: #0884F8;
}

#first_tel {
  align-self: end;
}

.logo__name::before {
  content: "";
  position: relative;
  width: 50%;
  height: 2px;
  background-color: white;
  justify-self: center;
}
@media screen and (max-width: 1200px) {
  .logo__name::before {
    content: "";
    position: relative;
    width: 60%;
    height: 2px;
    background-color: white;
    justify-self: center;
  }
}
@media screen and (max-width: 992px) {
  .logo__name::before {
    content: "";
    position: relative;
    width: 65%;
    height: 2px;
    background-color: white;
    justify-self: center;
  }
}
@media screen and (max-width: 768px) {
  .logo__name::before {
    content: "";
    position: relative;
    width: 60%;
    height: 2px;
    background-color: white;
    justify-self: center;
  }
}

.logo__name::after {
  content: "";
  position: relative;
  width: 50%;
  height: 2px;
  background-color: white;
  justify-self: center;
}
@media screen and (max-width: 1200px) {
  .logo__name::after {
    content: "";
    position: relative;
    width: 60%;
    height: 2px;
    background-color: white;
    justify-self: center;
  }
}
@media screen and (max-width: 992px) {
  .logo__name::after {
    content: "";
    position: relative;
    width: 65%;
    height: 2px;
    background-color: white;
    justify-self: center;
  }
}

.logo__name_mobile::before {
  content: "";
  position: relative;
  width: 40%;
  height: 2px;
  background-color: white;
  justify-self: center;
}

.logo__name_mobile::after {
  content: "";
  position: relative;
  width: 40%;
  height: 2px;
  background-color: white;
  justify-self: center;
  margin-top: 10px;
}

.tel {
  width: 25px;
}

.img_responsive {
  width: 40%;
}
@media screen and (max-width: 768px) {
  .img_responsive {
    width: 70%;
  }
}
@media screen and (max-width: 576px) {
  .img_responsive {
    width: 90%;
  }
}

.nav__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
@media screen and (max-width: 768px) {
  .nav__list {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    align-items: flex-start;
  }
}
.nav__item {
  font-size: 20px;
  color: white;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .nav__item {
    font-size: 20px;
  }
}
@media screen and (max-width: 1400px) {
  .nav__item {
    font-size: 26px;
  }
}
.nav__item:hover {
  color: #0884F8;
}

.about__content {
  display: grid;
}
.about__text {
  display: grid;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #cdcdcd;
  text-align: center;
  align-items: center;
  line-height: 30px;
  padding: 0 1rem;
  font-size: 20px;
}
@media screen and (max-width: 768px) {
  .about__text {
    text-align: center;
    align-items: center;
    font-size: 22px;
    margin-bottom: 0;
    margin-top: 2rem;
  }
}
@media screen and (max-width: 576px) {
  .about__text {
    text-align: center;
    align-items: center;
    line-height: 26px;
    margin-left: 0;
    margin-right: 0;
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 2rem;
  }
}
@media screen and (max-width: 1400px) {
  .about__text {
    text-align: center;
    align-items: center;
    line-height: 34px;
    font-size: 26px;
    margin-bottom: 0;
  }
}
.about__img {
  width: 100%;
  overflow: hidden;
  margin: 3rem 0 1rem 0;
}
@media screen and (max-width: 768px) {
  .about__img {
    margin: 2rem 0 0 0;
  }
}
@media screen and (max-width: 576px) {
  .about__img {
    margin: 2rem 0 0 0;
  }
}

.about__details {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4rem 1fr 1fr;
  margin-left: 2rem;
  margin-right: 2rem;
}
@media screen and (max-width: 768px) {
  .about__details {
    grid-template-columns: 1fr;
    grid-template-rows: 6rem 1fr 1fr;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1rem;
  }
}
@media screen and (max-width: 576px) {
  .about__details {
    grid-template-columns: 1fr;
    grid-template-rows: 6rem 1fr 1fr;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1rem;
  }
}
.about__blocks_top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: 0;
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .about__blocks_top {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 0;
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
@media screen and (max-width: 576px) {
  .about__blocks_top {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 0;
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
.about__blocks_bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  margin: 0;
  padding-bottom: 4rem;
}
@media screen and (max-width: 768px) {
  .about__blocks_bottom {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 0;
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
@media screen and (max-width: 576px) {
  .about__blocks_bottom {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 0;
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
.about__block_item:first-child {
  margin-left: 0;
  margin-right: 1rem;
}
@media screen and (max-width: 768px) {
  .about__block_item:first-child {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 576px) {
  .about__block_item:first-child {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 0) {
  .about__block_item:first-child {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 1rem;
  }
}
.about__block_item:last-child {
  margin-left: 1rem;
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .about__block_item:last-child {
    margin-left: 0;
    margin-right: 0;
    margin-top: 1rem;
    padding-bottom: 4rem;
  }
}
@media screen and (max-width: 576px) {
  .about__block_item:last-child {
    margin-left: 0;
    margin-right: 0;
    margin-top: 1rem;
  }
}
@media screen and (max-width: 0) {
  .about__block_item:last-child {
    margin-left: 0;
    margin-right: 0;
    margin-top: 1rem;
  }
}
.about__block_item {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3rem 3rem 1fr;
  background-color: white;
  border-radius: 50px;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  justify-items: center;
  text-align: center;
  font-size: 20px;
}
@media screen and (max-width: 576px) {
  .about__block_item {
    font-size: 20px;
    border-radius: 0;
  }
}
@media screen and (max-width: 1400px) {
  .about__block_item {
    padding-right: 2rem;
    padding-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
.about__block_item p {
  padding-top: 1rem;
}
.about__heading {
  text-align: center;
  color: white;
  font-size: 32px;
}
@media screen and (max-width: 768px) {
  .about__heading {
    font-size: 26px;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 576px) {
  .about__heading {
    font-size: 26px;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.footer {
  display: grid;
  position: relative;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  color: white;
  font-size: 16px;
  margin-top: 2rem;
}
@media screen and (max-width: 576px) {
  .footer {
    display: grid;
    position: relative;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    color: white;
    font-size: 16px;
    margin-top: 2rem;
  }
}
@media screen and (max-width: 0) {
  .footer {
    display: grid;
    position: relative;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    color: white;
    font-size: 16px;
    margin-top: 2rem;
  }
}
.footer__find {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  color: #282828;
  background-color: #ededed;
}
.footer__header {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  height: 2rem;
  font-size: 20px;
}
.footer__social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 3rem;
  padding-bottom: 1rem;
}
.footer__social a:first-child {
  margin-right: 1em;
}
.footer__social a:nth-child(3) {
  margin-right: 1em;
}
.footer__social a:nth-child(2) {
  margin-right: 1em;
}
.footer__social a:last-child {
  margin-left: 1em;
}
.footer__copyright {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
@media screen and (max-width: 768px) {
  .footer__copyright {
    margin-left: 0;
    margin-right: 0;
  }
}
@media screen and (max-width: 576px) {
  .footer__copyright {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.social_icon {
  width: 40px;
}

.social_icon:hover {
  background-color: #0884F8;
  border-radius: 20px;
}

.burger__menu {
  display: none;
}
@media screen and (max-width: 768px) {
  .burger__menu {
    display: block;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 576px) {
  .burger__menu {
    display: block;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
}

#menuToggle {
  display: block;
  position: absolute;
  top: 13rem;
  left: 30px;
  z-index: 1;
  max-width: 90%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: tomato;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0 0;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: relative;
  width: 300px;
  margin: -60px 0 0 -50px;
  padding-left: 50px;
  padding-bottom: 30px;
  padding-top: 100px;
  background: #ededed;
  list-style-type: none;
  transform-origin: 0 0;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul {
  transform: none;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  box-sizing: border-box;
}
.gallery img {
  transform: scale(0.8);
  /*Webkit: уменьшаем размер до 0.8*/
  -moz-transform: scale(0.8);
  /*Mozilla: масштабирование*/
  --o-transform: scale(0.8);
  /*Opera: масштабирование*/
  /*Webkit: длительность анимации*/
  transition-duration: 0.5s;
  /*Mozilla: длительность анимации*/
  -o-transition-duration: 0.5s;
  /*Opera: длительность анимации*/
  opacity: 0.7;
  /*Начальная прозрачность изображений*/
  margin: 0 10px 5px 0;
  /*Интервалы между изображениями*/
}
.gallery img:hover {
  /*Webkit: увеличиваем размер до 1.2x*/
  /*Mozilla: масштабирование*/
  transform: scale(1.1);
  /*Opera: масштабирование*/
  box-shadow: 0px 0px 30px gray;
  /*CSS3 тени: 30px размытая тень вокруг всего изображения*/
  -webkit-box-shadow: 0px 0px 30px gray;
  /*Webkit: тени*/
  -moz-box-shadow: 0px 0px 30px gray;
  /*Mozilla: тени*/
  opacity: 1;
}

.prices {
  background-color: black;
  text-align: center;
  margin: 0 auto;
  font-size: 18px;
}
.prices__local {
  min-width: 300px;
  margin: 0 auto;
}
.prices__local_img {
  width: 60px;
  height: 60px;
}
.prices__local_money {
  border: 1px solid black;
  width: 50%;
  max-width: 768px;
  min-width: 200px;
  margin: 2em auto;
}
.prices__long {
  min-width: 300px;
  margin: 0 auto;
}
.prices__long_img {
  width: 80px;
  height: 60px;
}
.prices__long_money {
  border: 1px solid black;
  width: 70%;
  max-width: 768px;
  min-width: 200px;
  margin: 2em auto;
}

.container__local,
.container__long {
  max-width: 80%;
  background-color: white;
  border-radius: 20px;
  margin: 2em auto;
  padding: 1em;
}
@media screen and (max-width: 768px) {
  .container__local,
.container__long {
    border-radius: 0;
  }
}

.prices__heading {
  color: white;
}

.container__services {
  background-color: #000;
  margin-top: 1em;
  margin-bottom: 4em;
  position: relative;
}
.container__services__title {
  color: #cdcdcd;
  font-size: 20px;
  text-align: center;
}
.container__services__img {
  width: 100%;
  margin-bottom: 0;
  margin-top: 0;
  overflow: hidden;
  height: auto;
}

.aboutservices {
  background-color: #000;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 3%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
@media screen and (max-width: 1200px) {
  .aboutservices {
    margin-left: 2em;
    margin-right: 2em;
  }
}
@media screen and (max-width: 992px) {
  .aboutservices {
    margin-left: 2em;
    margin-right: 2em;
  }
}
@media screen and (max-width: 768px) {
  .aboutservices {
    margin-left: 2em;
    margin-right: 2em;
  }
}
@media screen and (max-width: 576px) {
  .aboutservices {
    margin-left: 2em;
    margin-right: 2em;
  }
}
.aboutservices__subtitle {
  font-size: 26px;
  color: white;
  font-weight: bolder;
}
.aboutservices__item {
  text-align: center;
  font-size: 20px;
  color: white;
}/*# sourceMappingURL=main-styles.css.map */