@charset "UTF-8";
/*Это итоговый файл со стилями, тут никакой код не пишем!!! только подключения других файлов*/ /*Тут переменные, общие для всего проекта*/
/* Оригинальные переменные HOMEPAGE  */
/* А тут какие-то классы и стили для тегов, тоже общие для всего проекта */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
}

a {
  text-decoration: none;
}

header,
main,
section,
footer {
  max-width: 1296px;
  margin: 0 auto;
}

/* здесь надо писать стили для файла moving-form.html */
.movingform {
  /*Общий контейнер странички*/
  box-sizing: border-box;
  width: 100wv;
  height: 100hv;
  background: #000;
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.info {
  /*Информация адрес и часы работы*/
  display: grid;
  grid-template-rows: 2fr repeat(5, 1fr) 2fr repeat(7, 1fr);
  box-sizing: border-box;
}
@media screen and (max-width: 576px) {
  .info {
    display: grid;
    grid-template-rows: 2fr repeat(5, 0.5fr) 1fr repeat(7, 0.5fr);
    font-size: 0.7em;
  }
}
.info_header {
  grid-row: 1/2;
  font-size: 1.5em;
}
.info_address {
  grid-row: 2/3;
  font-size: 1.5em;
}
.info_address1 {
  grid-row: 3/4;
  font-size: 1.2em;
}
.info_email1 {
  grid-row: 4/5;
  font-size: 1.2em;
}
.info_address2 {
  grid-row: 5/6;
  font-size: 1.2em;
}
.info_email2 {
  grid-row: 6/7;
  font-size: 1.2em;
}
.info_time {
  grid-row: 7/8;
  font-size: 1.5em;
  align-self: end;
}
.info_mon {
  grid-row: 8/9;
  font-size: 1.2em;
}
.info_tue {
  grid-row: 9/10;
  font-size: 1.2em;
}
.info_wed {
  grid-row: 10/11;
  font-size: 1.2em;
}
.info_thu {
  grid-row: 11/12;
  font-size: 1.2em;
}
.info_fri {
  grid-row: 12/13;
  font-size: 1.2em;
}
.info_sat {
  grid-row: 13/14;
  font-size: 1.2em;
}
.info_sun {
  grid-row: 14/15;
  font-size: 1.2em;
}
.info_text {
  grid-row: 15/16;
  font-size: 1.2em;
}

.contactform {
  /*Форма для контакта*/
  display: grid;
  box-sizing: border-box;
  width: 50%;
  height: 90%;
  margin-left: 25%;
  font-size: 1.5em;
  justify-self: center;
  gap: 0.4em;
  /* Цвет в placeholder Chrome, Firefox, Opera, Safari 10.1+ */
  /*Цвет в placeholder Internet Explorer 10-11 */
  /*Цвет в placeholder Microsoft Edge */
}
@media screen and (max-width: 1200px) {
  .contactform {
    width: 80%;
    margin-left: 10%;
  }
}
@media screen and (max-width: 576px) {
  .contactform {
    width: 70%;
    font-size: 1.2em;
    gap: 0.6em;
  }
}
.contactform__name, .contactform__phone, .contactform__email, .contactform__message {
  border: 1px solid white;
  border-radius: 8px;
  color: white;
  background: #000;
  border: 1px solid white;
}
@media screen and (max-width: 1200px) {
  .contactform__name, .contactform__phone, .contactform__email, .contactform__message {
    height: 2em;
  }
}
@media screen and (max-width: 576px) {
  .contactform__name, .contactform__phone, .contactform__email, .contactform__message {
    padding-top: 5%;
  }
}
.contactform ::placeholder {
  color: rgb(127, 124, 124);
  opacity: 1;
  font-style: italic;
}
.contactform :-ms-input-placeholder {
  color: rgb(127, 124, 124);
  font-style: italic;
}
.contactform ::-ms-input-placeholder {
  color: rgb(127, 124, 124);
  font-style: italic;
}
.contactform__btn_send {
  width: 40%;
  height: 2em;
  margin-left: 30%;
  color: white;
  background: #000;
  border-radius: 8px;
  border: 1px solid white;
  cursor: pointer;
}

.container__services {
  background-color: #000;
  margin-top: 1em;
  margin-bottom: 4em;
  position: relative;
}

.about__services {
  display: grid;
  background-color: #000;
  grid-template-rows: repeate 7, 1fr;
  grid-template-columns: 1fr;
  margin-left: 23em;
  margin-right: 23em;
  margin-top: 0;
}
@media screen and (max-width: 768px) {
  .about__services {
    display: grid;
    background-color: #000;
    grid-template-rows: repeate 7, 1fr;
    grid-template-columns: 1fr;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 0;
    font-size: 20px;
  }
}
@media screen and (max-width: 992px) {
  .about__services {
    display: grid;
    background-color: #000;
    grid-template-rows: repeate 7, 1fr;
    grid-template-columns: 1fr;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 0;
    font-size: 20px;
  }
}
@media screen and (max-width: 576px) {
  .about__services {
    display: grid;
    background-color: #000;
    grid-template-rows: repeate 7, 1fr;
    grid-template-columns: 1fr;
    margin-left: 8em;
    margin-right: 8em;
    margin-top: 0;
    font-size: 20px;
  }
}
@media screen and (max-width: 1200px) {
  .about__services {
    display: grid;
    background-color: #000;
    grid-template-rows: repeate 7, 1fr;
    grid-template-columns: 1fr;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 0;
    font-size: 20px;
  }
}

.main__img {
  width: 100%;
  margin-bottom: 0;
  margin-top: 0;
  overflow: hidden;
  height: auto;
}
@media screen and (max-width: 768px) {
  .main__img {
    width: 100%;
    max-width: 768px;
    margin-bottom: 0;
    margin-top: 0;
    overflow: hidden;
    height: auto;
  }
}
@media screen and (max-width: 992px) {
  .main__img {
    width: 100%;
    max-width: 992px;
    margin-bottom: 0;
    margin-top: 0;
    overflow: hidden;
    height: auto;
  }
}
@media screen and (max-width: 576px) {
  .main__img {
    width: 100%;
    max-width: 576px;
    margin-bottom: 0;
    margin-top: 0;
    overflow: hidden;
    height: auto;
  }
}
.main__block {
  display: grid;
  color: white;
}
.main__title {
  text-align: center;
  color: #cdcdcd;
  font-size: 20px;
  align-items: center;
  display: grid;
}
.main__subtitle {
  text-align: left;
  font-size: 25px;
  font-weight: bolder;
  color: white;
}
@media screen and (max-width: 768px) {
  .main__subtitle {
    text-align: left;
    font-size: 50px;
    font-weight: bolder;
    color: white;
  }
}
.main__item {
  text-align: left;
  font-size: 20px;
  color: white;
}

*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  background-color: #000;
}

.container__home {
  display: grid;
  position: relative;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  background-color: #000;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .container__home {
    display: grid;
    position: relative;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    background-color: #000;
    margin: 0;
  }
}
.container__menu {
  display: grid;
  position: relative;
  grid-template-rows: 8rem 4rem;
  grid-template-columns: 1fr;
  background-color: #000;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .container__menu {
    display: grid;
    position: relative;
    grid-template-rows: 8rem 8rem 8rem;
    grid-template-columns: 1fr;
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 0;
  }
}
@media screen and (max-width: 576px) {
  .container__menu {
    display: grid;
    position: relative;
    grid-template-rows: 8rem 8rem 8rem;
    grid-template-columns: 1fr;
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 0;
  }
}
.container__logo {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 25% 1fr 25%;
  background-color: #000;
}
@media screen and (max-width: 768px) {
  .container__logo {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 8rem 6rem 8rem;
    background-color: #000;
    margin-top: 1rem;
  }
}
@media screen and (max-width: 576px) {
  .container__logo {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 8rem 6rem 8rem;
    background-color: #000;
    margin-top: 1rem;
  }
}
.container__nav {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
@media screen and (max-width: 768px) {
  .container__nav {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .container__nav {
    display: none;
  }
}
.container__about {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}
@media screen and (max-width: 768px) {
  .container__about {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 576px) {
  .container__about {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
  }
}
.container__name {
  display: grid;
}

.logo__img {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .logo__img {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
  }
}
.logo__name_mobile {
  display: none;
}
@media screen and (max-width: 576px) {
  .logo__name_mobile {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    text-align: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: 500;
  }
}
@media screen and (max-width: 768px) {
  .logo__name_mobile {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    text-align: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: 500;
  }
}
.logo__name {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  text-align: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: 500;
}
@media screen and (max-width: 1400px) {
  .logo__name {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    text-align: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: 500;
  }
}
@media screen and (max-width: 576px) {
  .logo__name {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .logo__name {
    display: none;
  }
}
.logo__tel {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: end;
  font-size: 20px;
  padding-right: 3em;
}
@media screen and (max-width: 768px) {
  .logo__tel {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    font-size: 20px;
  }
}
@media screen and (max-width: 576px) {
  .logo__tel {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: right;
    font-size: 20px;
    padding-right: 30px;
    font-size: 22px;
    margin-top: 1rem;
  }
}

#first_tel {
  align-self: end;
}

.logo__name::before {
  content: "";
  position: relative;
  width: 50%;
  height: 2px;
  background-color: white;
  justify-self: center;
}
@media screen and (max-width: 1200px) {
  .logo__name::before {
    content: "";
    position: relative;
    width: 60%;
    height: 2px;
    background-color: white;
    justify-self: center;
  }
}
@media screen and (max-width: 992px) {
  .logo__name::before {
    content: "";
    position: relative;
    width: 65%;
    height: 2px;
    background-color: white;
    justify-self: center;
  }
}
@media screen and (max-width: 768px) {
  .logo__name::before {
    content: "";
    position: relative;
    width: 60%;
    height: 2px;
    background-color: white;
    justify-self: center;
  }
}

.logo__name::after {
  content: "";
  position: relative;
  width: 50%;
  height: 2px;
  background-color: white;
  justify-self: center;
}
@media screen and (max-width: 1200px) {
  .logo__name::after {
    content: "";
    position: relative;
    width: 60%;
    height: 2px;
    background-color: white;
    justify-self: center;
  }
}
@media screen and (max-width: 992px) {
  .logo__name::after {
    content: "";
    position: relative;
    width: 65%;
    height: 2px;
    background-color: white;
    justify-self: center;
  }
}

.logo__name_mobile::before {
  content: "";
  position: relative;
  width: 40%;
  height: 2px;
  background-color: white;
  justify-self: center;
}

.logo__name_mobile::after {
  content: "";
  position: relative;
  width: 40%;
  height: 2px;
  background-color: white;
  justify-self: center;
}

.tel {
  width: 25px;
}

.img_responsive {
  width: 50%;
}
@media screen and (max-width: 768px) {
  .img_responsive {
    width: 25%;
  }
}
@media screen and (max-width: 576px) {
  .img_responsive {
    width: 40%;
  }
}

.nav__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
@media screen and (max-width: 768px) {
  .nav__list {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    align-items: flex-start;
  }
}
.nav__item {
  font-size: 20px;
  color: white;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .nav__item {
    font-size: 20px;
  }
}
@media screen and (max-width: 1400px) {
  .nav__item {
    font-size: 26px;
  }
}
.nav__item:hover {
  color: #cdcdcd;
  background-color: #282828;
  border-radius: 10%;
}

.about__content {
  display: grid;
}
.about__text {
  display: grid;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #cdcdcd;
  text-align: center;
  align-items: center;
  line-height: 30px;
  padding: 0 1rem;
  font-size: 20px;
}
@media screen and (max-width: 768px) {
  .about__text {
    display: grid;
    color: #cdcdcd;
    text-align: center;
    align-items: center;
    line-height: 30px;
    font-size: 22px;
    margin-bottom: 0;
    margin-top: 0;
  }
}
@media screen and (max-width: 576px) {
  .about__text {
    display: grid;
    color: #cdcdcd;
    text-align: center;
    align-items: center;
    line-height: 26px;
    margin-left: 0;
    margin-right: 0;
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 0;
  }
}
@media screen and (max-width: 1400px) {
  .about__text {
    display: grid;
    color: #cdcdcd;
    text-align: center;
    align-items: center;
    line-height: 34px;
    font-size: 26px;
    margin-bottom: 0;
  }
}
.about__img {
  width: 100%;
  overflow: hidden;
  margin: 3rem 0 1rem 0;
}
@media screen and (max-width: 768px) {
  .about__img {
    margin: 2rem 0 0 0;
  }
}
@media screen and (max-width: 576px) {
  .about__img {
    margin: 2rem 0 0 0;
  }
}

.about__details {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4rem 1fr 1fr;
  margin-left: 2rem;
  margin-right: 2rem;
}
@media screen and (max-width: 768px) {
  .about__details {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6rem 1fr 1fr;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1rem;
  }
}
@media screen and (max-width: 576px) {
  .about__details {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6rem 1fr 1fr;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1rem;
  }
}
.about__blocks_top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: 0;
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .about__blocks_top {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 0;
    margin-bottom: 2rem;
    margin-left: 0;
    margin-right: 0;
  }
}
@media screen and (max-width: 576px) {
  .about__blocks_top {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 0;
    margin-bottom: 2rem;
    margin-left: 0;
    margin-right: 0;
  }
}
.about__blocks_bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .about__blocks_bottom {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 0;
    margin-bottom: 2rem;
    margin-left: 0;
    margin-right: 0;
  }
}
@media screen and (max-width: 576px) {
  .about__blocks_bottom {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 0;
    margin-bottom: 2rem;
    margin-left: 0;
    margin-right: 0;
  }
}
.about__block_item:first-child {
  margin-left: 0;
  margin-right: 1rem;
}
@media screen and (max-width: 768px) {
  .about__block_item:first-child {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 576px) {
  .about__block_item:first-child {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 1rem;
  }
}
.about__block_item:last-child {
  margin-left: 1rem;
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .about__block_item:last-child {
    margin-left: 0;
    margin-right: 0;
    margin-top: 1rem;
  }
}
@media screen and (max-width: 576px) {
  .about__block_item:last-child {
    margin-left: 0;
    margin-right: 0;
    margin-top: 1rem;
  }
}
.about__block_item {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3rem 3rem 1fr;
  background-color: white;
  border-radius: 10%;
  padding: 2.5rem;
  justify-items: center;
  text-align: center;
}
.about__heading {
  text-align: center;
  color: white;
  font-size: 32px;
}
@media screen and (max-width: 768px) {
  .about__heading {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 576px) {
  .about__heading {
    font-size: 20px;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.footer {
  display: grid;
  position: relative;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  color: white;
  font-size: 16px;
  margin-top: 2rem;
}
.footer__find {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  color: #282828;
  background-color: #ededed;
}
.footer__header {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  height: 2rem;
  font-size: 20px;
}
.footer__social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 3rem;
  padding-bottom: 1rem;
}
.footer__social a:first-child {
  margin-right: 1em;
}
.footer__social a:nth-child(3) {
  margin-right: 1em;
}
.footer__social a:nth-child(2) {
  margin-right: 1em;
}
.footer__social a:last-child {
  margin-left: 1em;
}
.footer__copyright {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
@media screen and (max-width: 768px) {
  .footer__copyright {
    margin-left: 0;
    margin-right: 0;
  }
}
@media screen and (max-width: 576px) {
  .footer__copyright {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.social_icon {
  width: 40px;
}

.burger__menu {
  display: none;
}
@media screen and (max-width: 768px) {
  .burger__menu {
    display: block;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 576px) {
  .burger__menu {
    display: block;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
}

#menuToggle {
  display: block;
  position: relative;
  top: 11rem;
  left: 30px;
  z-index: 1;
  max-width: 90%;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: tomato;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: relative;
  width: 300px;
  margin: -60px 0 0 -50px;
  padding-left: 50px;
  padding-bottom: 30px;
  padding-top: 100px;
  background: #ededed;
  list-style-type: none;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul {
  transform: none;
}

/*Здесь надо писать стили для moving-gallery*/
.gallery { /*Стили для контейнера*/
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  box-sizing: border-box;
}
.gallery_title { /*Стили для заголовка стр*/
  display: grid;
  grid-row: 1fr;
  color: #cdcdcd;
  font-size: 3em;
  text-shadow: black;
  justify-content: center;
  padding: 2%;
}
@media screen and (max-width: 768px) {
  .gallery_title {
    display: grid;
    color: #cdcdcd;
    font-size: 2em;
    text-shadow: black;
    justify-content: center;
    padding: 2%;
  }
}
.gallery_img {
  transform: scale(0.8); /*Webkit: уменьшаем размер до 0.8*/
  -moz-transform: scale(0.8); /*Mozilla: масштабирование*/
  --o-transform: scale(0.8); /*Opera: масштабирование*/
  -webkit-transition-duration: 0.5s; /*Webkit: длительность анимации*/
  transition-duration: 0.5s; /*Mozilla: длительность анимации*/
  -o-transition-duration: 0.5s; /*Opera: длительность анимации*/
  opacity: 0.7; /*Начальная прозрачность изображений*/
  margin: 0 10px 5px 0; /*Интервалы между изображениями*/
}
.gallery_img:hover {
  -webkit-transform: scale(1.1); /*Webkit: увеличиваем размер до 1.2x*/
  -moz-transform: scale(1.1); /*Mozilla: масштабирование*/
  transform: scale(1.1); /*Opera: масштабирование*/
  box-shadow: 0px 0px 30px gray; /*CSS3 тени: 30px размытая тень вокруг всего изображения*/
  -webkit-box-shadow: 0px 0px 30px gray; /*Webkit: тени*/
  -moz-box-shadow: 0px 0px 30px gray; /*Mozilla: тени*/
  opacity: 1;
}

.prices {
  background: white;
  text-align: center;
  margin: 0 auto;
}
.prices__local {
  max-width: 60%;
  margin: 0 auto;
}
.prices__local_img {
  width: 60px;
  height: 60px;
}
.prices__long {
  max-width: 60%;
  margin: 0 auto;
}
.prices__long_img {
  width: 80px;
  height: 60px;
}

/*# sourceMappingURL=main-styles.css.map */
